body{
background-color: rgba(24, 4, 136, 0.74);
}
#home{
  background-image: url(../IMG/index.jpeg);
  border-top: cadetblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-size: cover 10px;
}
.home-container{
  height: 200px ;
  font-style: italic ;
}
.ABOUT-ME h3 {
  font-style: oblique;
  font-size: inherit 100px;
}
.KELLY h1{
  font-size:small 
}
.ABOUT-ME h2{
  font-style: normal;
  font-size: larger;
  text-size-adjust: 100px;
  display: block;
  -ms-text-align-last: right;
  flo
}
.ABOUT-ME p{
  display: block;
}
.ABOUT-ME ul{
  float: left;
  list-style-position: outside;
}
.ABOUT-ME image{
  display: inline-block;
}
.container{
  display: inline-block;
  float: left;
  padding: 20px 20px; 
  margin: 20px;
}
.logo{
  display: inline-block;
  float: right;
}
.container{
  background-image: url(../IMG/images.jpeg);
}
.skills h4{
  font-size: larger;
  font-style: normal;
  text-size-adjust:100px;

}

